.link {
  color: #ffffff;
  padding: 8px;
  margin: 50px 50px 100px 50px;

  font-size: 28px;

  border-radius: 8px;
}

.link:last-child {
  margin-bottom: 0;
}

.link:hover {
  background-color: #402000;
  color: #ffffff;
}
